.brand__title {
  color: #000;
  text-align: center;
  font-size: 36px;
  line-height: 127.778%;
  letter-spacing: -1px;
  padding-bottom: 80px;
}
.brand__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.brand__logo {
  cursor: pointer;
  img {
    transition: all 0.3s ease-in-out;
  }
}
.brand__logo:hover img {
  transform: scale(1.1);
}
