.building {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  padding: 0 60px;
  @media (max-width: 575px) {
    padding: 0 15px;
  }
}
.building__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.building__title {
  font-size: 48px;
  line-height: 116.667%;
  letter-spacing: -2px;
  width: 72%;
  text-align: center;
  padding-bottom: 30px;
  @media (max-width: 1199px) {
    width: 100%;
  }
  @media (max-width: 767px) {
    font-size: 40px;
  }
}
.building__note {
  font-size: 18px;
  line-height: 155.556%;
  letter-spacing: -0.3px;
  text-align: center;
}
.building__item {
  position: relative;
  border-radius: 12px;
  border: 1px solid $colorGrayLine;
  padding: 40px 45px 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 20px 50px 0px rgba(79, 119, 255, 0.2);
  }
  &.last-child::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -70px;
    width: 60px;
    height: 60px;
    background-color: $colorBlue;
    border-radius: 50%;
    border-bottom-left-radius: 0px;
    @media (max-width: 1200px) {
      content: none;
    }
  }
}
.building__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin-bottom: 40px;
}
.building__icon--purple {
  background-color: $colorPurpleOpacity;
}
.building__icon--blue {
  background-color: $colorBlueOpacity;
}
.building__icon--orange {
  background-color: $colorOrangeOpacity;
}
.building__item-title {
  color: $colorBlackText2;
  font-size: 22px;
  font-weight: 400;
  line-height: 145.455%;
  letter-spacing: -1px;
  padding-bottom: 20px;
}
.building__item-note {
  font-size: 16px;
  line-height: 162.5%;
  text-align: center;
}
