.feature-box {
  width: 100%;
  border-radius: 5px;
  background-color: $colorGrayBox;
  padding: 20px 30px 30px;
}
.feature-box__title {
  color: $colorBlackText;
  font-family: Outfit;
  font-size: 18px;
  font-weight: 500;
  line-height: 155.556%;
  letter-spacing: 0.4px;
  padding-bottom: 20px;
}
