.footer__top {
  position: relative;
  background-image: url("../../assets/images/footer-bg.jpg");
  background-size: 100% 100%;
  height: 500px;
}
.footer__top--style2 {
  background-image: url("../../assets/images/footer-bg2.jpg");
}
.footer__subcribe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 1199px) {
    width: 100%;
    padding: 0 15px;
  }
}
.footer__title-top {
  font-family: Outfit;
  font-size: 22px;
  line-height: 145.455%;
  letter-spacing: -1px;
  padding-bottom: 40px;
}
.footer__title-top--style2 {
  color: #2d3958;
  font-family: Outfit;
  font-size: 48px;
  font-weight: 500;
  line-height: 116.667%;
  letter-spacing: -2px;
  padding-bottom: 70px;
  @media (max-width: 767px) {
    font-size: 35px;
  }
}
.footer__title-bottom {
  color: #2d3958;
  font-family: Outfit;
  font-size: 48px;
  font-weight: 500;
  line-height: 116.667%;
  letter-spacing: -2px;
  padding-bottom: 70px;
  span {
    color: $colorGreen;
  }
  @media (max-width: 575px) {
    font-size: 35px;
  }
}
.footer__title-bottom--style2 {
  color: $colorGrayText;
  font-family: Outfit;
  font-size: 22px;
  line-height: 145.455%;
  letter-spacing: -1px;
  padding-bottom: 40px;
}
.footer__bottom {
  background-color: #292f3a;
}
.footer__bottom-wrap {
  padding: 100px 0;
  @media (max-width: 575px) {
    padding: 40px 0;
  }
}
.footer__menu-wrap {
  display: flex;
  gap: 110px;
  flex-wrap: wrap;
  @media (max-width: 991px) {
    justify-content: space-between;
  }
  @media (max-width: 575px) {
    row-gap: 15px;
  }
}
.footer__menu-title {
  color: #fff;
  font-family: Outfit;
  font-size: 22px;
  line-height: 145.455%;
  letter-spacing: -1px;
  padding-bottom: 25px;
}
.footer__menu-nav {
  color: $colorGrayLine;
  font-family: Outfit;
  font-size: 14px;
  font-weight: 500;
  line-height: 171.429%;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  padding-bottom: 15px;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: $colorBlue;
  }
}
.footer__menu-text {
  color: $colorGrayLine;
  font-size: 16px;
  line-height: 162.5%;
  padding-bottom: 30px;
}
.footer__menu-note {
  color: $colorGrayLine;
  font-size: 14px;
  line-height: 171.429%;
  letter-spacing: -0.3px;
  padding-top: 15px;
}
.footer__policy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 0;
  border-top: solid 1px $colorGrayText;
}
.footer__social {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer__social-icon {
  border-radius: 50%;
  width: 52px;
  height: 52px;
  background-color: $colorBlue;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: $colorGreen;
  }
}
