.new-related__img {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 20px;
  img {
    transition: all 0.3s ease-in-out;
  }
}
.new-related__img:hover img {
  transform: scale(1.1);
}
.new-related__text {
  color: $colorBlackText;
  font-size: 18px;
  line-height: 155.556%;
  letter-spacing: -0.3px;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: $colorBlue;
  }
}
