.new-sidebar {
  display: flex;
  gap: 20px;
  cursor: pointer;
  @media (max-width: 991px) {
    width: 31%;
  }
  @media (max-width: 767px) {
    width: 100%;
  }
}
.new-sidebar__img {
  width: 50px;
  height: 50px;
  overflow: hidden;
  img {
    transition: all 0.3s ease-in-out;
  }
}
.new-sidebar__img:hover img {
  transform: scale(1.1);
}
.new-sidebar__text {
  width: 65%;
  font-size: 14px;
  line-height: 171.429%;
  letter-spacing: -0.3px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: $colorBlue;
  }
}
