.new-sidebar {
  display: flex;
  gap: 20px;
  cursor: pointer;
}
.new-sidebar__img {
  width: 50px;
  height: 50px;
  overflow: hidden;
  img {
    transition: all 0.3s ease-in-out;
  }
}
.new-sidebar__img:hover img {
  transform: scale(1.1);
}
.new-sidebar:hover .new-sidebar__text {
  color: $colorBlue;
}
.new-sidebar__text {
  width: 65%;
  font-size: 14px;
  line-height: 171.429%;
  letter-spacing: -0.3px;
}
