.product-tab__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 20px;
  padding-bottom: 20px;
}
.product-tab__item {
  position: relative;
  color: #2d3958;
  font-family: Outfit;
  font-size: 18px;
  font-weight: 500;
  line-height: 155.556%;
  letter-spacing: 0.4px;
  cursor: pointer;
  &.active::before {
    content: "";
    position: absolute;
    top: -10px;
    left: calc(50% - 5px);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $colorGreen;
  }
}
.product-tab__content {
  font-size: 16px;
  line-height: 162.5%;
  column-count: 2;
  column-gap: 50px;
  padding: 40px 0px;
  border-bottom: 1px solid $colorGrayLine;
  border-top: 1px solid $colorGrayLine;
  text-align: justify;
  @media (max-width: 575px) {
    column-count: 1;
  }
}
